.dialog{
    padding-top: 100;
    margin-top: 100;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    outline: 0;
    padding-top: 40;
}

.modal-close {
    display:none;
}

.modal-content {
    top: 100 !important;
}

.modal-dialog{
    margin-top: 150px;
}

.coluna-textfields{
   padding-left: 30;
   width: '100%';
}